.general> .bottom-wrapper{
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    align-items:flex-start ;
    background-color:#2D3037; ;
    position: relative;
    box-shadow:  inset -15px 15px 62px -3px #434750;
}
.general> .bottom-wrapper> .bottom-boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.general> .bottom-wrapper> .bottom-boxes > .codepen-items {
    width: 475px;
    height: 50px;
    text-align: center;
    border: 1px solid #676767;
}
.general> .bottom-wrapper> .bottom-boxes > .codepen-items a{
   
    font-family: "Archivo Black", sans-sherif; 
    text-align: center;
    color: #fafafa;
    text-decoration: none;
    transition: 0.5s;
  

    
}