.main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(52, 52, 56) ;
}
.main-wrapper> .message-wrapper> .code-text >.higlighted-text{
    color: #fafafa;
}
.main-wrapper> .image-side{
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-right: -645px;
}
.main-wrapper> .image-side> .text-image{
    justify-content: space-around;
    font-size: 1.5em;
    /* color: #fafafa; */
    text-align: left;
    padding-left: 56px;
    margin: -8px;
    margin-top: 27px;
    width: 100%;
}
 .main-wrapper> .image-side> .text-image p{
    font-family: 'Lato', sans-serif;
    color:#fafafa;
} 
.main-wrapper> .image-side> .image-sample img{
    width: 75%;
    height: 100%;
}
