.general> .main-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#2D3037; ;
    position: relative;
    box-shadow:  inset -15px 15px 62px -3px #434750;
}
.general> .main-wrapper> .message-wrapper{
    margin-left: -289px;
    margin-top: -180px;
    margin-right: 60px;
}
/*
.general> .main-wrapper> .message-wrapper> .message-text> .code-text{

}
*/
.general> .main-wrapper> .message-wrapper> .message-text> .code-text p{
    color: gray;
    font-size: 2.3em;
}
.general> .main-wrapper> .message-wrapper> .message-text> .place-text p{
    color: gray;
    font-size: 1.8em;
}
.general> .main-wrapper> .image-side{
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: -568px;
    margin-top: 15px;
    margin-left: -20px;
}

.general> .main-wrapper> .image-side> .text-image{
    justify-content: space-around;
    font-size: 1.55em;
    /* color: #fafafa; */
    text-align: left;
    padding-left: 56px;
    margin: -8px;
    margin-top: 27px;
    width: 100%;
}
.general> .main-wrapper> .image-side> .text-image p{
    font-family: 'Lato', sans-serif;
    color:#fafafa;
} 
.general> .main-wrapper> .image-side> .image-sample img{
    width: 75%;
    height: 100%;
}
