/* Common nav style */
.upper-wrapper{
    height: 70px;
    background-color: #14141d;
    color: #cbcbcb;
/*flexbox container*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.upper-wrapper > .left-container >.logo-codepen img{
    width:216px;
    height: 100%;
}

.upper-wrapper > .center-column{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    width: 900px;
    margin-left: 45px;
}

.upper-wrapper > .center-column > .explore-txt{
    display: flex;
    justify-content:space-between;
}
.upper-wrapper > .center-column > .links-wrapper{
    display: flex;
    justify-content: space-between;
    align-items:center;

}
.upper-wrapper > .center-column >.links-wrapper > .nav-link{
    width: 70px;
    text-align: center;
    
}
.upper-wrapper > .center-column >.links-wrapper > .nav-link a{
    font-family: "Lato Black", sans-sherif;
    text-decoration: none;
    transition: 0.5s;

}
.upper-wrapper > .center-column >.links-wrapper > .nav-link:hover{
background-color: grey;

}
.upper-wrapper > .center-column >.links-wrapper > .spark-link{
    width: 70px;
    text-align: center;
    margin-left: 40px;
    color: gray;
    
    
}

.upper-wrapper> .rigth-container{
    width: 900px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}

.upper-wrapper> .rigth-container> .button-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 50px;
 /*   margin: 65px 10px 0px 10px;*/
 margin-right: -30px;
 margin-left: 90px;
    align-items: flex-end;
    width: 100%;
    grid-gap: 70px;

}

.upper-wrapper> .rigth-container> .button-wrapper > .create-btn{
   display: flex;
   justify-content: space-around;
   padding-left: 15px;
    width: 100%;
    background-color: gray;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
    color: whitesmoke;
    white-space: nowrap;
    
}
.upper-wrapper> .rigth-container> .button-wrapper > .create-btn >.check{
    color: green;
    margin:auto;

}
.upper-wrapper> .rigth-container> .button-wrapper > .create-btn >.check p{
    color: whitesmoke;
    margin-left:10px ;

    }
.upper-wrapper> .rigth-container> .button-wrapper > .search-btn i{
    font-size: 2em;
    color: gray;
    text-align: center;
    margin-bottom: 20px;
}
.upper-wrapper> .rigth-container> .button-wrapper > .loging-btn{
    background-color: gray;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s; 
}
.upper-wrapper> .rigth-container> .button-wrapper > .loging-btn a{
margin-bottom: 20px;
}
.upper-wrapper> .rigth-container> .button-wrapper > .sign-up-btn{
    background-color: gray;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s; 
}
.upper-wrapper> .rigth-container> .button-wrapper > .sign-up-btn a{
    margin-bottom: 20px;

}