/* Common nav style */
.topper-wrapper{
    height: 70px;
    width: 100%;
    background-color: #14141d;
    color: #cbcbcb;
/*flexbox container*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.topper-wrapper > .left-container >.logo-codepen img{
    width:216px;
    height: 100%;
}

.topper-wrapper > .center-column{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    width: 120px;
    margin-left: -184px;
    margin-top: -22px;
    margin-right: 300px;
}

.topper-wrapper > .center-column > .explore-txt{
    display: flex;
    justify-content:space-between;
    margin-left: 13px;
    margin-top: 15px;
    margin-bottom: -24px;   
    color: #dfce35;
}
.topper-wrapper > .center-column > .links-wrapper{
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin-top: -16px;
    margin-left: -10px;
    margin-right: 330px;

}
.topper-wrapper > .center-column >.links-wrapper > .nav-link{
    width: 70px;
    text-align: center;
    margin-inline: 10px;
    
}
.topper-wrapper > .center-column >.links-wrapper > .nav-link a{
    font-family: "Archivo Black", sans-sherif;
    color: #fafafa;
    text-decoration: none;
    transition: 0.5s;

}
.topper-wrapper > .center-column >.links-wrapper > .nav-link a:hover{
color: rgb(59, 58, 58);

}
.topper-wrapper > .center-column >.links-wrapper > .spark-link{
    width: 75px;
    text-align: center;
    margin-left: 75px;
    margin-right: -45px;
    color: gray;
    word-spacing: 13px;
    
    
}

.topper-wrapper> .rigth-container{
    width: 900px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}

.topper-wrapper> .rigth-container> .button-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 50px;
 /*   margin: 65px 10px 0px 10px;*/
    margin-right: 50px;
    margin-left: 105px;
    align-items: flex-end;
    width: 100%;
    grid-gap: 70px;

}

.topper-wrapper> .rigth-container> .button-wrapper > .create-btn{
    display: flex;
    justify-content: space-around;
    padding-left: 43px;
    margin: 8px;
    width: 100%;
    background-color: rgb(75, 75, 75);
    text-align: center;
    border-bottom: 7px solid transparent;
    border-radius: 2px;
    transition: 1s;
    color: #fafafa;
   
    
}
.topper-wrapper> .rigth-container> .button-wrapper > .create-btn:hover{
color: rgb(59, 58, 58);
} 
.topper-wrapper> .rigth-container> .button-wrapper > .create-btn >.check{
    /* color: rgb(9, 209, 9); */
    margin:auto;

}
.topper-wrapper> .rigth-container> .button-wrapper > .create-btn >.check p{
    /* color: #fafafa; */
    color: #4bce79;
    margin-left:10px ;

    }
.topper-wrapper> .rigth-container> .button-wrapper > .search-btn i{
    font-size: 2em;
    color: gray;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 12px;
}
.topper-wrapper> .rigth-container> .button-wrapper > .loging-btn{
    display: flex;
    justify-content: space-between;
    padding-left: 43px;
    margin-left: -100px;
    margin-bottom: 8px;
    width: 100%;
    height: 50px;
    background-color: rgb(75, 75, 75);
    text-align: inherit;
    border-bottom: 7px solid transparent;
    border-radius: 2px;
    transition: 1s;
    color: #fafafa;
}

.topper-wrapper> .rigth-container> .button-wrapper > .loging-btn a{
    margin-top: 16px;  
    color: #fafafa;
    text-decoration: none;
    transition: 0.5s;
}
.topper-wrapper> .rigth-container> .button-wrapper > .loging-btn a:hover{
    color: rgb(59, 58, 58);
    }
.topper-wrapper> .rigth-container> .button-wrapper > .sign-up-btn{
    display: flex;
    justify-content: space-between;
    padding-left: 77px;
    margin-left: -100px;
    margin-bottom: 8px;
    width: 100%;
    height: 50px;
    background-color: rgb(75, 75, 75);
    color: #fafafa;
    text-align: center;
    border-bottom: 7px solid transparent;
    border-radius: 2px;
    transition: 1s; 
}


.topper-wrapper> .rigth-container> .button-wrapper > .sign-up-btn a{
    margin-top: 16px; 
    margin-left:-20px;
    color: #fafafa;
    text-decoration: none;
    transition: 0.5s;

}

.topper-wrapper> .rigth-container> .button-wrapper > .sign-up-btn:hover{
  
    background-color: rgb(49, 173, 49);
}


.topper-wrapper> .rigth-container> .button-wrapper > .sign-up-btn a:hover{
    color: rgb(59, 58, 58);
} 